.triangle {
  width: 500px;
  height: 500px;
}
.animation-s-p {
  width: 500px;
  height: 500px;
  top: 21px;
  left: -5px;
}
.delivery-heading-s {
  font-size: 72px;
}

@media (max-width: 848px) {
  .triangle {
    width: 433px;
    height: 433px;
  }
  .animation-s-p {
    width: 433px;
    top: -26px;
    left: 50px;
  }
  .delivery-heading-s {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  .animation-s-p {
    width: 325px;

    height: 325px;
    top: 8px;
    left: 6px;
  }
  .triangle {
    width: 325px;
    height: 325px;
  }
}
