.section-full-center {
  display: flex;
  flex-wrap: wrap;
  gap: 128px;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.triangle {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.animation-s-p {
  width: 100%;
  max-width: 500px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: unset;
}
.delivery-heading-s {
  font-size: 72px;
  /* line-height: 100%; */
  color: #2a3136;
  font-family: "Outfit", sans-serif;
  /* text-align: center; */
  margin: 0;
  font-weight: 500;
  letter-spacing: 0px;
  /* white-space: nowrap; */
}

@media (max-width: 1114px) {
  .delivery-heading-s {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .section-full-center {
    gap: 32px;
    margin-top: 30px;
    flex-direction: column;
  }

  .triangle {
    max-width: 325px;
  }

  .animation-s-p {
    max-width: 325px;
  }

  .delivery-heading-s {
    font-size: 36px;
  }
}
