.bg-gradient {
  background: linear-gradient(to right, #999999, #ffffff);
  background-size: 200% 100%;
  animation: slideGradient 1s linear infinite;
}

@keyframes slideGradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.hide-dis {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-ham {
    display: none;
  }
@media (max-width: 993px) {
  .hide-dis {
    display: none;
  }
  .hide-ham {
    display: inline;
  }
}
.hidden {
  display: none;
}
.header-p {
  padding-right: 90px;
  padding-left: 67px;
}
@media (max-width: 768px) {
  .header-p {
    padding-right: 57px;
    padding-left: 34px;
  }
}
@media (max-width: 425px) {
  .header-p {
    padding-right: 46px;
    padding-left: 23px;
  }
}
@media (max-width: 320px) {
  .header-p {
    padding-right: 40px;
    padding-left: 17px;
  }
}
@media (min-width: 848px) {
  .sm\:show {
    display: inline;
  }
  .header-p {
    padding-right: 80px;
    padding-left: 57px;
  }
}
