/* Hero Section */
.hero-section {
  max-width: 100%;
  padding: 4.0625rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center;  */
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  gap: 13.4375rem;
  justify-content: center;
  align-items: center;
}

.hero-content {
  flex: 1;
  min-width: 300px;
  /* text-align: center; */
}

.hero-image-container {
  flex: 1;
  min-width: 250px;
  text-align: center; /* Center text inside the content */
}

.hero-image {
  width: 100%;
  height: auto;
  max-width: 468px;
  object-fit: contain;
}

/* Promo Banner */
.promo-banner {
  background-color: #3cda5f0d;
  margin-bottom: 0.35rem;
  box-sizing: border-box;

  max-width: 405px;
  width: 100%;
  height: 35px;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  /* margin: 0 auto;  */
}

.promo-text {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: unset;
  font-size: 0.9375rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: #0a2640;
  margin: 0px;
  /* text-align: center; */
}

/* Hero Title */
.hero-title {
  font-family: "Outfit", sans-serif;
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-block: 0px;
  color: #0a2640;
  background-color: unset;
  /* text-align: center; */
}

/* Animated Text */
.animated-text {
  overflow: hidden;
  width: 531px;
  /* text-align: center; */
}

.animated-text h1 {
  font-family: "Outfit", sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  /* text-align: center;  */
  margin-block: 0px;
  background-color: unset;
}

/* Animation */
@keyframes change-color {
  0% {
    color: #fd273b;
    transform: translateY(0);
    opacity: 1;
  }

  25% {
    color: #fd273b;
    transform: translateY(-30px);
    opacity: 0;
  }
  25.001% {
    color: #9747ff;
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    color: #9747ff;
    transform: translateY(-30px);
    opacity: 0;
  }
  50.001% {
    color: #2ad427;
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    color: #2ad427;
    transform: translateY(-30px);
    opacity: 0;
  }
  75.001% {
    color: #fd273b;
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    color: #fd273b;
    transform: translateY(0);
    opacity: 1;
  }
}

.hero-animation {
  animation: change-color 4s infinite;
}

/* Hero Description */
.hero-description {
  margin-bottom: 1.5rem;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0;
  color: #000;
  font-size: 1.25rem;
  max-width: fit-content;
  /* text-align: center;  */
}

/* Shop Now Button */
.shop-now-btn {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px 24px;
  background-color: #3cda5f;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: white;
  max-width: fit-content;
  /* margin: 0 auto;  */
}
@media (max-width: 991px) {
  /* Hero Section */
  .hero-section {
    max-width: 100%;
    padding: 4.0625rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-container {
    display: flex;
    flex-wrap: wrap;
    gap: 19.4375rem;
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    flex: 1;
    min-width: 300px;
    text-align: center;
  }

  .hero-image-container {
    flex: 1;
    min-width: 250px;
    text-align: center; /* Center text inside the content */
  }

  .hero-image {
    width: 100%;
    height: auto;
    max-width: 468px;
    object-fit: contain;
  }

  /* Promo Banner */
  .promo-banner {
    background-color: #3cda5f0d;
    margin-bottom: 0.35rem;
    box-sizing: border-box;

    max-width: 405px;
    width: 100%;
    height: 35px;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 auto;
  }

  .promo-text {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: unset;
    font-size: 0.9375rem;
    line-height: 1.2;
    letter-spacing: 0;
    color: #0a2640;
    margin: 0px;
    text-align: center;
  }

  /* Hero Title */
  .hero-title {
    font-family: "Outfit", sans-serif;
    font-size: 4.5rem;
    line-height: 1.2;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-block: 0px;
    color: #0a2640;
    background-color: unset;
    text-align: center;
  }

  /* Animated Text */
  .animated-text {
    overflow: hidden;
    width: 531px;
    text-align: center;
  }

  .animated-text h1 {
    font-family: "Outfit", sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
    margin-block: 0px;
    background-color: unset;
  }

  /* Animation */
  @keyframes change-color {
    0% {
      color: #fd273b;
      transform: translateY(0);
      opacity: 1;
    }

    25% {
      color: #fd273b;
      transform: translateY(-30px);
      opacity: 0;
    }
    25.001% {
      color: #9747ff;
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      color: #9747ff;
      transform: translateY(-30px);
      opacity: 0;
    }
    50.001% {
      color: #2ad427;
      transform: translateY(0);
      opacity: 1;
    }
    75% {
      color: #2ad427;
      transform: translateY(-30px);
      opacity: 0;
    }
    75.001% {
      color: #fd273b;
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      color: #fd273b;
      transform: translateY(0);
      opacity: 1;
    }
  }

  .hero-animation {
    animation: change-color 4s infinite;
  }

  /* Hero Description */
  .hero-description {
    margin-bottom: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000;
    font-size: 1.25rem;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  /* Shop Now Button */
  .shop-now-btn {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 12px 24px;
    background-color: #3cda5f;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0;
    color: white;
    max-width: fit-content;
    margin: 0 auto;
  }
}
/* Media Queries */
@media (max-width: 768px) {
  .hero-section {
    max-width: 100%;
    padding: 2.0625rem;
    margin: 0 auto;
  }
  .hero-container {
    flex-direction: column;
    gap: 10rem;
  }

  .hero-content,
  .hero-image-container {
    width: 100%;
    max-width: 300px;
  }

  .hero-image {
    max-width: 100%;
  }

  .hero-title {
    font-size: 3.75rem;
    line-height: 1.3;
  }

  .animated-text h1 {
    font-size: 3.75rem;
    line-height: 1.4;
  }

  .hero-description {
    font-size: 1.125rem;
    line-height: 1.6;
  }

  .shop-now-btn {
    padding: 10px 20px;
    font-size: 1.125rem;
  }
}

@media (max-width: 480px) {
  .hero-section {
    max-width: 100%;
    padding: 1.0625rem;
    margin: 0 auto;
  }
  .hero-container {
    gap: 7rem;
  }
  .hero-title {
    font-size: 3rem;
    line-height: 1.4;
  }

  .animated-text h1 {
    font-size: 3rem;
    line-height: 1.5;
  }

  .hero-description {
    font-size: 1rem;
    line-height: 1.7;
  }

  .shop-now-btn {
    width: 100%;
    padding: 12px;
    font-size: 1.125rem;
  }

  .promo-banner {
    max-width: 100%;
    padding: 0.5rem 1rem;
  }

  .promo-text {
    font-size: 1rem;
    line-height: 1.4;
  }
}
