.med-container {
  display: flex;
  margin: 0 auto;
  max-width: 90rem;
  padding-inline: 6.25rem;
}
.med-content-position {
  left: 3.5rem;
  top: 2.4375rem;
}
.med-product {
  width: 38rem;
  height: 16.875rem;
}

.med-pro-con {
  font-family: "Outfit", sans-serif;
  line-height: 2.25rem;
  letter-spacing: 0px;
  color: #184363;
  vertical-align: middle;
}

@media (max-width: 26.5625rem) {
  .med-content-position {
    left: 1.5rem;
    top: 1rem;
  }
}

@media (max-width: 53.0625rem) {
  .med-container {
    display: flex;
    margin: 0 auto;
    max-width: 90rem;
    padding-inline: 0.75rem;
  }
  .med-pro-con {
    font-family: "Outfit", sans-serif;
    line-height: 2.25rem;
    letter-spacing: 0px;
    color: #184363;
    vertical-align: middle;
    margin: 0.625rem;
  }
  .med-product {
    width: auto;
    height: auto;
  }
}

.from-font {
  font-size: clamp(0.75rem, 0.75vw, 0.75rem);
  white-space: nowrap;
}

.med-head-font {
  font-size: clamp(24px, 2vw, 28px);
  white-space: nowrap;
  line-height: 2.25rem;
}

.med-button-font {
  font-size: clamp(0.9375rem, 0.9375vw, 0.9375rem);
  white-space: nowrap;
}

.med-text-margin {
  margin-block: clamp(20px, 2vw, 20px);
}

.med-button-w {
  width: clamp(6.826rem, 6.826vw, 6.826rem);
  height: clamp(2.5rem, 2.5vw, 2.5rem);
  line-height: 1.375rem;
}
@media(max-width:561px){
  .med-head-font {
  line-height: 1.25rem;
}
}

@media (max-width: 425px) {
  .from-font {
    font-size: clamp(0.75rem, 0.75vw, 0.75rem);
    white-space: nowrap;
  }

  .med-head-font {
    font-size: clamp(5vw, 2vw, 2vw);
    line-height: 1.25rem;
  }

  .med-button-font {
    font-size: clamp(0.7375rem, 0.9375vw, 0.9375rem);
    white-space: nowrap;
  }

  .med-text-margin {
    margin-block: clamp(9px, 2vw, 20px);
  }

  .med-button-w {
    width:fit-content;
    height:fit-content;
    line-height: 0%;
  }
}
