.bg-container {
  background-color: #eaeaea;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 39px auto;
  justify-content: center;
  /* margin: 0 auto; */
  width: 1239.5px;
  height: 304.8800048828125px;
}

.product-card {
  display: flex;
  overflow: hidden;
  width: 607.75px;
  height: 304.8800048828125px;
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid #eaeaea;
}

.image-container {
  position: relative;
  width: 302.8800048828125px;
  height: 302.8800048828125px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.image-container img {
  width: 302.8800048828125px;
  height: 302.8800048828125px;
  object-fit: cover;
}

.sale-badge {
  position: absolute;
  background-color: #39cb49;
  color: #fff;
  z-index: 10;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: center;
  padding: 4px;
  vertical-align: middle;
  width: 40px;
  height: 20px;
  top: 12px;
  left: 12px;
  border-radius: 16px;
}

/* Content container */
.content-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 24px;
  align-items: start;
}

.product-title {
  color: #184363;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  font-family: "Outfit", sans-serif;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 16px;
}

.product-price {
  margin: 0px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 15px;
  color: #184363;
}

.product-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 8px;
  margin-bottom: 16.5px;
}

.product-features li {
  display: flex;
  gap: 12.12px;
  color: #184363;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #184363;
  border: none;

  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  width: 180px;
  height: 40px;
  border-radius: 72px;

  background-color: #edf4f6;
  margin-bottom: 43.07px;
}

.buy-button img {
  width: 18px;
  height: 18px;
  margin-right: 9px;
  background-color: transparent;
}

@media (max-width: 848px) {
  .product-card {
    flex-direction: column;
    max-width: 100%;
  }

  .image-container,
  .content-container {
    width: 100%;
  }

  .image-container {
    aspect-ratio: 4 / 3;
  }

  .product-title,
  .product-price {
    font-size: 18px;
  }

  .product-features li {
    font-size: 12px;
  }

  .buy-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product-section {
    margin: 20px auto;
    gap: 15px;
  }

  .product-title,
  .product-price {
    font-size: 16px;
  }

  .content-container {
    padding: 15px;
  }
}
