.testimonial-h-s {
  font-size: 48px;
  line-height: 72px;
}

.comment-s {
  font-size: 24px;
}
.name-s {
  font-size: 16px;
}
.title-s {
  font-size: 14px;
}
.image-s {
  height: 58px;
  width: 58px;
}
.t-card-w {
  box-sizing: border-box;
  padding: 40px;
  max-width: 360px;
  width: 100%;
}
.in-pad {
  padding-inline: 154.29px;
}
@media (max-width: 768px) {
  .in-pad {
    padding-inline: 96px;
  }
}
@media (max-width: 482px) {
  .in-pad {
    padding-inline: 48px;
  }
}
@media (max-width: 425px) {
  /* .t-card-w {
    width: 300px;
  } */
  .t-card-w {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    flex-basis: 100%;
  }
  .comment-s {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .in-pad {
    padding-inline: 20px;
  }
}
@media (max-width: 848px) {
  .testimonial-h-s {
    font-size: 24px;
    line-height: 33px;
  }
  .comment-s {
    font-size: 14px;
  }
  .name-s {
    font-size: 12px;
  }
  .title-s {
    font-size: 10px;
  }
  .image-s {
    height: 32px;
    width: 32px;
  }
}
